<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="role">
            <h2><span jhiTranslate="coopcycleApp.role.detail.title">Role</span> {{ role.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="coopcycleApp.role.uroles">Uroles</span></dt>
                <dd>
                    <div *ngIf="role.uroles">
                        <a [routerLink]="['/user-account', role.uroles?.id, 'view']">{{ role.uroles?.id }}</a>
                    </div>
                </dd>
            </dl>
            <dt>QrCode</dt>
                <dd>
                    <div>
                        <qr-code [value]="'/role/role.id/view'" [size]="150"></qr-code>
                    </div>
                </dd>
            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/role', role.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
