<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-role-heading" jhiTranslate="coopcycleApp.role.home.createOrEditLabel">Create or edit a Role</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="coopcycleApp.role.uroles" for="field_uroles">Uroles</label>
                    <select class="form-control" id="field_uroles" name="uroles" formControlName="uroles">
                        <option *ngIf="!editForm.get('uroles')!.value" [ngValue]="null" selected></option>
                        <option [ngValue]="userAccountOption.id === editForm.get('uroles')!.value?.id ? editForm.get('uroles')!.value : userAccountOption" *ngFor="let userAccountOption of useraccounts; trackBy: trackById">{{ userAccountOption.id }}</option>
                    </select>
                </div>
                <div *ngIf="editForm.get('uroles')!.invalid && (editForm.get('uroles')!.dirty || editForm.get('uroles')!.touched)">
                    <small class="form-text text-danger"
                           *ngIf="editForm.get('uroles')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                    </small>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
